Options -Indexes

RewriteEngine On

RewriteRule ^app/?$ index.php [L]
RewriteRule ^(app|config|core|database|storage)(/.*)?$ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
